
.chat_room_name{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.chat_room_content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 17rem;
}

.chat_tab{
    position: fixed;
    padding-top: .4rem;
    padding: 1rem;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}

