.blueB{
    /*background-color: #0b36d7;*/
    background-color: #115efc;
    color:#f5f5f5;
}

.whiteB{
    /*background-color: #f5f5f5;*/
    background-color: white;
}

.whiteW{
    color: #f5f5f5;
}

.blueW{
    color: #115efc;
}

.blackW{
    color: rgb(33, 33, 33);
}

.logo{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -0.095rem;
}

.btn{
    color: black;
}

.reco {
    margin: 1rem;
}