html{
  height: 100%;
}

body{
  height: 100%;
  background-color: white;
  position: static;
}

.menu_img { 
  display: block;
  float: left;
}

.navbar{
  justify-content:space-between;
  padding:1rem 0rem;
  width: 100%;
  position:fixed;
}

.top{
  display:flex;
  margin-left:1rem;
  margin-right:1rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: -1px;
  margin-top: -1px;
}

a{color:white;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#dfe3ee;text-decoration:underline}a:not([href]):not([tabindex]){color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}

.navbar-toggler{
  padding:0;
}

.navbar-nav{
  padding:1rem 2rem;
}

.nav-item{
  font-weight:520;
}

.mypage{
  display: flex;
  width: 100%;
  /*position: fixed;*/
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  margin-top: 1em;
  padding: 1.5rem;
  justify-content: space-between;
}

#profile_pic{
  display: block;
}

#name{
  color: black;
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-right: 2.5rem;
}

.btn {
  /*background-color: #FFCC00;*/
  /*background-color: #fea328;*/
  color: white;
}

.nav-bar{
  font-color:white!important;
}

.nav-item{margin-bottom:-1px;
font-color:white}
/*
.nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.nav-tabs .nav-link:focus,.nav-link:hover{border-color:#e9ecef #e9ecef #dee2e6}
.nav-tabs .nav-link.disabled{color:#e9ecef;}.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}.nav-pills .nav-link{border-radius:.25rem}
*/
