html{
  height: 100%;
}

body{
  height: 100%;
  background-color: white;
  position: static;
}

.menu_img {
  display: block;
  float: left;
}

.navbar{
  justify-content:space-between;
  padding:1rem 0rem;
  width: 100%;
  position:fixed;
}

.top{
  display:flex;
  margin-left:1rem;
  margin-right:1rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: -1px;
  margin-top: -1px;
}

.top div{
  display:flex;
  align-items: center;
}

a{color:white;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#dfe3ee;text-decoration:underline}a:not([href]):not([tabindex]){color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}

.navbar-toggler{
  padding:0;
}

.navbar-nav{
  padding:1rem 2rem;
}

.nav-item{
  font-weight:520;
}

.mypage{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  margin-top: 1em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  justify-content: space-between;
}

.name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 6rem;
  font-weight: bold;
  text-align: center;
}

.img_div{
  overflow:hidden;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.profile_img {
  max-height: 100%;
  margin: 0 auto;
}

#name{
  color: black;
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-right: 2.5rem;
}

.nav-bar{
  font-color:white!important;
}

.nav-item{margin-bottom:-1px;
  font-color:white
}
