html{
  height: 100%;
}

body{
  height: 100%;
  background-color: #007bff;
}

.top_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;  
  font-family: 'Yeon Sung', cursive;
  font-size: 2em;
}

.menu_img { 
  display: block;
  float: left;
}


.sidebar_wrapper {
  display: inline-block;
  margin-left: 1em;
  margin-top: 14em;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: white;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

