html{
  height: 100%;
}

body {
  height: 100%;
  /*display: flexbox;*/
  /*display: flex;*/
  flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white; 
}

.align-center {
  text-align: center;
}

.blue {
  /*background-color: #007bff;
  color: white;
  width: 100%;*/
  color: #007bff;
  background-color: white;
}

/*.fit{
  display: block;
  width: 100%;
}*/

/*
footer{
  font-size: 70%;
  color: grey;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}*/


/*.form-signin {
  width: 100%;
  max-width: 90%;
  margin: auto;
}*/

.buttons2{
  display:flex;
  justify-content: space-between;
  /*font-weight:400;*/
  /*font-size:10px;*/

  text-align:center;
  /*white-space:nowrap;*/
  /*vertical-align:middle;*/
  /*-webkit-user-select:none;*/
  /*-moz-user-select:none;*/
  /*-ms-user-select:none;*/
  /*user-select:none;*/
  /*border:1px solid transparent;*/

  /*line-height:1.5;border-radius:.25rem;*/
  /*transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}

/*.form-signin .checkbox {
  font-weight: 400;
}*/

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; 
}
.form-signin .form-control:focus {
  z-index: 2;
}
/*
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/
