

.search{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #007bff;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  top: 83px;
}
/*
.search_img {
  display: block;
  float: left;
}

.menu_img {
  display: block;
  float: left;
}*/

.find {
  background-color: #007bff;
  position: absolute;
  top: 162px;
  height: 504px;
  width: 100%;
  align-items: center;
}

.wrapper{
  display: flex;
  border: 1px solid lightgrey;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  background-color: #FFFAF0;
}


.wrapper_small{
  display: flex;
  width: 100%;
}

.find_img {
  float: left;
  height: 30%;
  border: 1px solid lightgrey;
}

.search_team{
  width: 100%;
  height: 3em;
  text-align: center;
  vertical-align: center;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
}

select {
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;
  /*background-color: lightgrey;*/
  /*font-weight: bold;*/
}

.area{
  display: block;
  width: 100%; 
}

/*
.btn-border{
  border: 2px solid white;
  font-weight: bold;
  font-size: 1em;
  margin-top: 5%;
}
*/
/*
.top_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  
  border-bottom: 1px solid white;
}*/

