html{
    height: 100%;
}

body{
    height: 100%;
    background-color: white;
    position: static;
}

.search{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #007bff;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    top: 83px;
}

.search_img {
    display: block;
    float: left;
}

.search_tag {
    display: block;
    float: left;
    font-size: 1.5em;
    margin-bottom: 0;
}

.btn {
    display: block;
    float: right;
}

.reco {
    position: fixed;
    top:165px;
    color: black;
    margin: 20px;
    height: 70%;
    width: 90%;
}

.reco h1{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}
.reco p{
    color: grey;
    text-indent: 20px;
}

.list {
    /*display: flex;*/
}


/*페이징*/
.paging{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
}
ul {
    text-align:center;
    width: 100%;
    padding: 0;
}
ul li {
    display:inline;
}
ul li a {
    display:inline-block;
    vertical-align:top;
    padding:4px;
    margin-right:3px;
    color:black;
    border:1px solid #eee;
    text-align:center;
    text-decoration:none;
    width:26px;
}
ul li a.now {
    color:#fff;
    background-color:#007bff;
    border:1px solid #007bff;
}
ul li a:hover, ul li a:focus {
    color:white;
    border:1px solid #007bff;
    background-color:#007bff;
}
/*페이징*/


.top_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;

    border-bottom: 1px solid white;
}
.logo{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    font-size: 2em;
}

.menu_img {
    display: block;
    float: left;
}


.sidebar_wrapper {
    display: inline-block;
    margin-left: 1em;
    margin-top: 14em;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: white;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}