
.search{
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.top_range{
  margin-left: 1rem; margin-right: 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.reco {
  margin: 1rem;
}

select.custom-select option{
    font-size:1rem
}

.list_item{
    display: flex;
    justify-content: space-between;
    padding:.5rem;
    background-color: rgb(190, 190, 190);
}

.list_item_date>h3{
    color:white;
    letter-spacing:.2rem;
    line-height: 1.6rem;
    margin-left: 1rem;
    font-weight: bold;
}

.list_item_team{
    color: white;
}

.list_item_team_detail{
    font-size: .6rem;
    text-align: right;

    margin-bottom: .3rem;
    margin-right: 1rem;
}

.list_item_team_name{
    margin-right: 1rem;
    font-weight: bold;
}

/*페이징*/
.paging{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 35px;
}
.paging ul {
  text-align:center;
  width: 100%;
  padding: 0;
}
.paging ul li {
  display:inline;
}
.paging ul li a {
  display:inline-block;
  vertical-align:top;
  padding:4px;
  margin-right:3px;
  color:black;
  border:1px solid #eee;
  text-align:center;
  text-decoration:none;
  width:26px;
}
.paging ul li a.now {
  color:#fff;
  background-color:#007bff;
  border:1px solid #007bff;
}
.paging ul li a:hover, ul li a:focus {
  color:white;
  border:1px solid #007bff;
  background-color:#007bff;
}

/*페이징*/


.top_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /*position: fixed;*/
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  
  border-bottom: 1px solid white;
}

.menu_img { 
  display: block;
  float: left;
}
