.container {
    max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }
.bg-light{background-color:#ffffff!important}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

.navbar{
    background-color: #4267B2;
    justify-content:space-around;
    padding:1rem 0rem;
}

.logo{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2em;
}

.birth{
    display:flex;
    justify-content: space-between;
    text-align:center;
}