html{
    height: 100%;
    font-size: 12px;
}

body{
    height: 100%;
    background-color: white;
    position: static;
}

.buttons{
    display:flex;
    justify-content: space-between;
    font-weight:400;
    font-size:10px;

    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;

    line-height:1.5;border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.schedule-detail{
    font-size:smaller;
}

.schedule-detail-content{
    margin-bottom:0.5rem;
}

.match-teams{
    display:table;
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.match-teams-row{
    display:table-row;
}

.match-team{
    display: table-cell;
    align-items:center;
    text-align:center;
    width:100%;
}

.team-img {
    margin-bottom: 0.5rem;
}

.score{
    display:flex;

}