html, body {
  height: 100%;
}

body {
  align-items: center;
  background-color: white;
  font-size: 1rem;
  color:#212529;
  }

.container {
  display: flex;
  margin-left: 5%;
  margin-right:5%;
  align-items: center;
  flex-wrap: wrap;
}

.proflie_pic {
  float: left;
  width: 40%;
  margin: 10%;
}

.profile {
  float:left;
  width: 50%;
  padding: 10px;
  margin-left: 10px;
}

.factor{
  float: left;
  width: 20%;
  padding: 5px;
}

.blue {
  color: #007bff; 
  background-color: white;
}

.rating {
      float:leftt;
	  width: 75%;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:250%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: dodgerblue;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }
	
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 70%;
  color: grey;
  text-align: center;
	}
	
.textarea {
  width: 90%;
  padding: 20px;
  margin-top: 30px;
  border: 1px solid;
  border-color: #007bff;
}

.btn {  
  display: block;
  margin-top: 1em;
  margin-left:auto;
  margin-right:auto;
}