html{
  height: 100%;
}

body{
    color:white;
}

.top_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  /*flex-wrap: wrap;*/
  background-color: #007bff;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;  
  font-family: 'Yeon Sung', cursive;
  font-size: 2em;
}

.menu_img { 
  display: block;
  float: left;
}