<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/chat_room.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function () {
            jQuery('.message').click(function (e) {
                location.href = '/chat';
            });
        });
        function goBack(){
            window.history.back();
        }
    </script>
    
    
    
    
    <script>
      
        function createRoom(){
            var roomId = $('#roomIdInput').val();
            var roomName = $('#roomNameInput').val();
            var id = $('#idInput').val();

            var output = {
                command:'create',
                roomId:roomId,
                roomName:roomName,
                roomOwnoer:id
            };

            socket.emit('room', output);
        }

        function updateRoom(){
            var roomId = $('#roomIdInput').val();
            var roomName = $('#roomNameInput').val();
            var id = $('#idInput').val();

            var output = {
                command:'update',
                roomId:roomId,
                roomName:roomName,
                roomOwnoer:id
            };

            socket.emit('room', output);
        }

        function deleteRoom(){
            var roomId = $('#roomIdInput').val();
            var id = $('#idInput').val();

            var output = {
                command:'delete',
                roomId:roomId,
                roomName:'',
                roomOwnoer:id
            };

            socket.emit('room', output);
        }

        function joinRoom(){
            var roomId = $('#roomIdInput').val();

            var output = {
                command:'join',
                roomId:roomId
            };

            socket.emit('room', output);
        }

        function leaveRoom(){
            var roomId = $('#roomIdInput').val();

            var output = {
                command:'leave',
                roomId:roomId
            };

            socket.emit('room', output);
        }


        function println(data){		//상태 프린트
            console.log(data);
            $('#results').append('<p>' + data + '</p>');
        }
        

    </script>
    

    
    
    <title>채팅방 목록</title>
</head>
<body class="whiteB">

<!--메뉴 영역 시작-->
<!--여기선 메뉴명 채팅방 목록으로 되어 있음-->

<nav class="navbar blueB">
  <div class="top">
    <div>
      <img src="../img/left-arrow.png" alt="" width="20rem" height="20rem" style="margin-right:3rem" onclick="goBack();">

      <p class="logo ml-sm-3">채팅방 목록</p>
    </div>

    <div>
      <a href="/chatroom"><img src="../img/close-envelope.png" class="menu_img" width="20rem" height="20rem" style="margin-right:1rem"></a>

      <img src="../img/menu.png" width="20rem" height="20rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <div class="mypage">
      <img src="../img/jisung_90.png"id="profile_pic" style="margin-right: .2rem">
      <span id="name" style="font-weight: bold; font-size: 1.2rem; margin-left: .5rem"><%= name %></span>
      <a href="/profile"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">내 정보</button></a>
      <a href="/login"><button class="btn btn-sm btn-warning" type="submit">로그아웃</button></a>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">홈 (매칭 팀 검색)</a>
      </li>
      <li class="nav-item" style="display:flex; align-items:center">
        <span style="margin-bottom: 0; padding: .5rem 0rem; color:white">우리 팀</span>
        <!--<hr align="right" style="border: solid 0.1rem white; width: 70%;">-->
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teamreceivedreview" style="margin-left:2rem">우리 팀 평가 점수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamschedule" style="margin-left:2rem">경기 스케줄</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matchapplication">매칭 등록</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact">개발자에게 연락</a>
      </li>
    </ul>
  </div>
</nav>

<div class="py-4 text-center"></div>

<!--메뉴 영역 끝-->

<div class="container" style="padding-top:3rem">
    <!--<div class="col-md-8 order-md-1">-->
    <div class="reco" style="margin-top: -1rem">
            <div class="message">
                <div class="chat_room_name mb-2">
                    <span style="font-weight:bold">우리가 남이가</span>
                    <span class="chat_room_date">2018-08-20</span>
                </div>

                <div class="chat_room_content">있을 뿐이다 그들에게 생명을 불어 넣는 것은 따뜻한 봄바람이다 풀밭에 속잎나고 가지에 싹이 트고 꽃 피고 새 우는 봄날의 천지는 얼마나 기쁘며 얼마나 아름다우냐? </div>
            </div>
    </div>
    <hr class="mb-4">
    <!--</div>-->
</div>



</body>
</html>