<!DOCTYPE html>
<html>
<head>
	
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>내 회원 정보</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
	
    
</head>
	
	
	<body class="whiteB">

	<nav class="navbar blueB">
		
		<p class="logo ml-sm-3">주 경기 장소 지정</p>
		
		
	</nav>		
	<br>
	<div class="container">
	
	<div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    검색 : <input type="text" placeholder="숙명여자대학교" id="keyword" size="15"> 
                    <button type="submit">검색하기</button>					
                </form>
            </div>
			
			<div>
		
		
			<form action="/map" method="post">
				<input type="hidden" name="resultLat" id="resultLat" placeholder="위도" class="form-control" readonly/ > 
				<input type="hidden" name="resultLng" id="resultLng" placeholder="경도" class="form-control" readonly/ >
				<input name="region" id="region" class="form-control" size="15" readonly/>
				
				<button type="submit">확인</button>
			</form>
			
			
		</div>
			
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>

	
	
<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=df8f5565b51994aa9c71d2128dcdfec5&libraries=services"></script>
<script>
// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
var infowindow = new daum.maps.InfoWindow({zIndex:1});

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new daum.maps.LatLng(37.54528542434111, 126.96541439095647), // 지도의 중심좌표
        level: 7 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new daum.maps.Map(mapContainer, mapOption); 

// 장소 검색 객체를 생성합니다
var ps = new daum.maps.services.Places(); 
	
	
ps.keywordSearch('숙명여자대학교', placesSearchCB); 

// 키워드로 장소를 검색합니다
//searchPlaces();

// 키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB); 
}
	
// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    if (status === daum.maps.services.Status.OK) {

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new daum.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            displayMarker(data[i]);    
            bounds.extend(new daum.maps.LatLng(data[i].y, data[i].x));
        }       

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    } 
}

// 지도에 마커를 표시하는 함수입니다
function displayMarker(place) {
    
    // 마커를 생성하고 지도에 표시합니다
    var marker = new daum.maps.Marker({
        map: map,
        position: new daum.maps.LatLng(place.y, place.x) 
    });
	
	var geoLat = place.y;
	var geoLng = place.x;

    // 마커에 클릭이벤트를 등록합니다
    daum.maps.event.addListener(marker, 'click', function() {
        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
        infowindow.open(map, marker);

		var region = document.getElementById('region');
		region.value = place.place_name;
		var resultLat = document.getElementById('resultLat');
		resultLat.value = geoLat;
		var resultLng = document.getElementById('resultLng');
		resultLng.value = geoLng;
		
    });
}
</script>
</div>
</body>
</html>