<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/match.js"></script>
    
    <title>매칭 등록</title>
</head>
<body class="whiteB">


<!--메뉴 영역 시작 : 나중에 파일로 따로 빼기 -->
<!--여기선 메뉴명 매칭 등록으로 되어 있음-->

<nav class="navbar blueB">

    <div class="top">
        <img src="../img/menu3.png" width="30rem" height="30rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">

        <p class="logo">매칭 등록</p>

        <a href="/chatroom"><img src="../img/envelope.png" class="menu_img" width="30rem" height="30rem" ></a>
    </div>


    <div class="collapse navbar-collapse" id="navbarsExample01">
        <div class="mypage">
            <img src="../profile_img/<%= profile_img %>" id="profile_pic" style="margin-right: .2rem; width:3rem; height: 3rem">
            <span id="name" style="font-weight: bold; font-size: 1.2rem; margin-left: .5rem"><%= teamname %> 팀</span>
            <a href="/teamprofile"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">내 정보</button></a>
			<a href="/uploadimg"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">프로필 사진 변경</button></a>
            <a href="/logout"><button class="btn btn-sm btn-warning" type="submit">로그아웃</button></a>
        </div>

        <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="main.html">홈 (매칭 팀 검색)</a>
      </li>
      <li class="nav-item" style="display:flex; align-items:center">
        <span style="margin-bottom: 0; padding: .5rem 0rem; color:white">우리 팀</span>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teamreceivedreview" style="margin-left:2rem">우리 팀 평가 점수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamschedule" style="margin-left:2rem">경기 스케줄</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="matchapplication">매칭 등록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mymatch">내가 등록한 매칭</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">개발자에게 연락</a>
      </li>
    </ul>
    </div>
</nav>

<div class="py-4 text-center"></div>

<!--메뉴 영역 끝 : 나중에 파일로 따로 빼기 -->


<div class="container">
    <div class="reco" style="margin-top: 2.3rem">
        <h5 class="mb-3 blackW" style="font-weight: bold">매칭 등록</h5>

        <form name="select_region" method="post" action="/matchapplication">
            <table class="table">
                <tbody>
                <tr>
                    <th>지역</th>
                    <td>
                        <div class="mb-2">
                            <select name="city" onchange="regionChange(this.selectedIndex);" class="form-control">
                                <option value="" selected disabled hidden>지역 검색</option>
                                <option value="서울">서울</option>
                                <option value="부산">부산</option>
                                <option value="대구">대구</option>
                                <option value="인천">인천</option>
                                <option value="광주">광주</option>
                                <option value="대전">대전</option>
                                <option value="울산">울산</option>
                                <option value="경기도">경기도</option>
                                <option value="강원도">강원도</option>
                                <option value="충청북도">충청북도</option>
                                <option value="충청남도">충청남도</option>
                                <option value="전라북도">전라북도</option>
                                <option value="전라남도">전라남도</option>
                                <option value="경상북도">경상북도</option>
                                <option value="경상남도">경상남도</option>
                                <option value="제주도">제주도</option>
                                <option value="지역무관">지역무관</option>
                            </select>
                        </div>
                        <select name="city" class="form-control">
                            <option>상세 검색</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>장소</th>
                    <td>
					
					<input type="text" name="place" id="sample5_address" placeholder="주소" readonly/>
					<input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색">
						
					<input name="resultLat" id="resultLat" placeholder="위도" class="form-control" readonly/ > 
					<input name="resultLng" id="resultLng" placeholder="경도" class="form-control" readonly/ >
					<br>
			<div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

			<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
			<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=df8f5565b51994aa9c71d2128dcdfec5&libraries=services"></script>
			<script>
				
				var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        			mapOption = {
						center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
						level: 5 // 지도의 확대 레벨
					};

				//지도를 미리 생성
				var map = new daum.maps.Map(mapContainer, mapOption);
				//주소-좌표 변환 객체를 생성
				var geocoder = new daum.maps.services.Geocoder();
    			//마커를 미리 생성
				var marker = new daum.maps.Marker({
					position: new daum.maps.LatLng(37.537187, 127.005476),
					map: map
				});


				function sample5_execDaumPostcode() {
					new daum.Postcode({
						oncomplete: function(data) {
							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var fullAddr = data.address; // 최종 주소 변수
							var extraAddr = ''; // 조합형 주소 변수

							// 기본 주소가 도로명 타입일때 조합한다.
							if(data.addressType === 'R'){
								//법정동명이 있을 경우 추가한다.
								if(data.bname !== ''){
									extraAddr += data.bname;
								}
								// 건물명이 있을 경우 추가한다.
								if(data.buildingName !== ''){
									extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
								}
								// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
								fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
							}

							// 주소 정보를 해당 필드에 넣는다.
							document.getElementById("sample5_address").value = fullAddr;
							// 주소로 상세 정보를 검색
							geocoder.addressSearch(data.address, function(results, status) {
								// 정상적으로 검색이 완료됐으면
								if (status === daum.maps.services.Status.OK) {

									var result = results[0]; //첫번째 결과의 값을 활용
									
									// 해당 주소에 대한 좌표를 받아서
									var coords = new daum.maps.LatLng(result.y, result.x);
									
				
									var geoLat = result.y;
									var geoLng = result.x;
									
									var resultLat = document.getElementById('resultLat');
									resultLat.value = geoLat;
									var resultLng = document.getElementById('resultLng');
									resultLng.value = geoLng;
									
									// 지도를 보여준다.
									mapContainer.style.display = "block";
									map.relayout();
									// 지도 중심을 변경한다.
									map.setCenter(coords);
									// 마커를 결과값으로 받은 위치로 옮긴다.
									marker.setPosition(coords)
								}
							});
						}
					}).open();
				}
				
			</script>
						</td>
					
					
                </tr>
                <tr>
                    <th>원정가능 유무</th>
                    <td>
                        <select name="move" class="form-control">
                            <option selected disabled hidden>원정 가능 여부</option>
                            <option>O</option>
                            <option>X</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>연령대</th>
                    <td>
                        <select name="age" class="form-control">
                            <option selected disabled hidden> 평균 연령대 </option>
                            <option value="10">10대</option>
							<option value="20">20대</option>
							<option value="30">30대</option>
							<option value="40">40대</option>
							<option value="50">50대</option>
							<option value="60">60대</option>
							<option value="70">70대</option>
							<option value="80">80대 이상</option>
                        </select>
                    </td>
                </tr>
					<tr>
                    <th>성별</th>
                    <td>
                        <select name="gender" class="form-control">
                            <option selected disabled hidden>성별</option>
                            <option value="0">여자</option>
                            <option value="1">남자</option>
							<option value="2">혼성</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>날짜</th>
                    <td>
                        <input type="date" name="event_date" id="theDate" class="form-control">
                    </td>
                    
                    <script>
				
					$(document).ready(function() {
						var date = new Date();
    					var day = date.getDate();
						var month = date.getMonth() + 1;
    					var year = date.getFullYear();
    					if (month < 10) month = "0" + month;
    					if (day < 10) day = "0" + day;
    					var today = year + "-" + month + "-" + day;       
    					$("#theDate").attr("value", today);
					});
				
	
				    </script>
				
                    
                </tr>
                <tr>
                    <th>시간대</th>
                    <td>
                        <input type="time" name="event_time" class="form-control" value="00:00:00">
                        <p style="text-align: center; margin-bottom: 0">
                    </td>
                </tr>
                <tr>
                    <th>기타 할 말</th>
                    <td><textarea class="form-control" name="mention" rows="7" cols="30" placeholder="100자 내로 입력"></textarea></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-block" style="color:black">매칭 등록</button>
        </form>


    </div>


</div>



</body>
</html>