<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>내 회원 정보</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>

<body class="whiteB">

<nav class="navbar blueB">
    <p class="logo">회원정보 수정</p>
</nav>
<br>
<div class="container">
    <div class="col-md-8 order-md-1">

            <div class="mb-3">
				<div class="change"><p>회원정보가 수정되었습니다.</p></div>
				<div class="change"><p>다시 로그인 해주세요.</p></div>
				<!--이름-->
                <!--<input type="text" class="form-control" id="user-name" placeholder="" value="" required>-->
                <!--<div class="invalid-feedback">-->
                    <!--Valid name is required.-->
                <!--</div>-->
            </div>            

            <hr class="mb-4">

        <a href="/logout"><button class="btn btn-block">다시 로그인하기</button></a>
    </div>
</div>
</body>
<footer class="my-5 pt-5 text-muted text-center text-small">

</footer>
