<!doctype html>
<html lang="kor">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>상대팀 리뷰</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/team_review.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>


<body class="whiteB">

<script type="text/javascript">
    function goBack(){
        window.history.back();
    }
</script>

<nav class="navbar blueB">
    <div style="display: flex; justify-content: space-between; align-items: center;  margin-left:1rem; margin-right:1rem;">
        <img src="../img/left-arrow.png" alt="" width="20rem" height="20rem" style="margin-right:3rem;" onclick="goBack();">
        <p class="logo whiteW">상대팀 평가</p>
    </div>
</nav>

<div class="container">
    <form action="/teamreview" method="post">

        <input type="hidden" name="event_date" id="theDate" required>

        <script>
            $(document).ready(function() {
                var date = new Date();
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                var today = year + "-" + month + "-" + day;
                $("#theDate").attr("value", today);
            });
        </script>

        <div class="rating_parent mt-3 mb-3">
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="">1 star</label>
            </div>
        </div>

        <textarea name = "review_comment" class="form-control mb-4" rows=5 autofocus required wrap="hard" placeholder="한줄평을 남겨주세요"></textarea>

        <div style="display: flex; justify-content: space-around">
            <button class="btn" type="submit" style="width: 40%">평가 제출</button>
            <!--팀 스케줄 또는 뒤로가기로 연결-->
            <button class="btn" type="button" onclick="location.href='team_schedule.html'" style="width: 40%" >창 닫기</button>
        </div>
    </form>

</div>

</body>
</html>
