<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/team_received_review.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <title>우리 팀 평가</title>
</head>
<!--메뉴 영역 시작 : 나중에 파일로 따로 빼기 -->
<!--여기선 메뉴명 우리 팀 평가로 되어 있음-->

<nav class="navbar blueB">

    <div class="top">
        <img src="../img/menu3.png" width="30rem" height="30rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">

        <p class="logo">우리 팀 평가</p>

        <a href="/chatroom"><img src="../img/envelope.png" class="menu_img" width="30rem" height="30rem" ></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <div class="mypage">
            <img src="../img/jisung_90.png"id="profile_pic" style="margin-right: .2rem">
            <span id="name" style="font-weight: bold; font-size: 1.2rem; margin-left: .5rem"><%= name %></span>
            <a href="/profile"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">내 정보</button></a>
            <a href="/logout"><button class="btn btn-sm btn-warning" type="submit">로그아웃</button></a>
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">홈 (매칭 팀 검색)</a>
            </li>
            <li class="nav-item" style="display:flex; align-items:center">
                <span style="margin-bottom: 0; padding: .5rem 0rem; color:white">우리 팀</span>
                <!--<hr align="right" style="border: solid 0.1rem white; width: 70%;">-->
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/teamreceivedreview" style="margin-left:2rem">우리 팀 평가 점수</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teamschedule" style="margin-left:2rem">경기 스케줄</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/matchapplication">매칭 등록</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact">개발자에게 연락</a>
            </li>
        </ul>
    </div>
</nav>

<div class="py-4 text-center"></div>

<!--메뉴 영역 끝 : 나중에 파일로 따로 빼기 -->


<div class="container">
    <div class="reco" style="margin-top: 2.3rem">
        <div class="team_score">
            <div class="team_inform" style="">
                <img src="../img/team_100.png" style="width: 5rem; margin-bottom: 1rem;">
                <h6 style="font-weight: bold">로로롱 팀</h6>
            </div>

            <div class = average-score>
                <span style="font-size:3rem; font-weight:bold">4.56</span>
                <div class="stars mb-3">
                    <img src="../img/star.png" width="20" height="20">
                    <img src="../img/star.png" width="20" height="20">
                    <img src="../img/star.png" width="20" height="20">
                    <img src="../img/star.png" width="20" height="20">
                    <img src="../img/star-half.png" width="20" height="20">
                </div>
                <span style="color:#efce4a">40개의 평가</span>
            </div>
        </div>

        <hr class="mb-4">
        <div class="review">
            <div class="review-random-profile mb-2">
                <div class="review-name">
                    <span style="font-weight:bold">우리가 남이가 randomN&nbsp</span>
                    <div class="stars">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star-half.png" width="10" height="10">
                    </div>
                </div>
                <span class="review-date">2018-08-20</span>
            </div>

            <span class="review-content">있을 뿐이다 그들에게 생명을 불어 넣는 것은 따뜻한 봄바람이다 풀밭에 속잎나고 가지에 싹이 트고 꽃 피고 새 우는 봄날의 천지는 얼마나 기쁘며 얼마나 아름다우냐? </span>
        </div>


        <hr class="mb-4">
        <div class="review">
            <div class="review-random-profile mb-2">
                <div class="review-name">
                    <span style="font-weight:bold">우리가 남이가 randomN&nbsp</span>
                    <div class="stars">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star.png" width="10" height="10">
                        <img src="../img/star-half.png" width="10" height="10">
                    </div>
                </div>
                <span class="review-date">2018-08-20</span>
            </div>

            <span class="review-content">있을 뿐이다 그들에게 생명을 불어 넣는 것은 따뜻한 봄바람이다 풀밭에 속잎나고 가지에 싹이 트고 꽃 피고 새 우는 봄날의 천지는 얼마나 기쁘며 얼마나 아름다우냐? </span>
        </div>


    </div>
</div>
</body>
</html>